/AvailableOrderView.class
/DetailsView.class
/FilterDriverView.class
/HistoryView.class
/ManageStatusFormView.class
/OrderQueueView.class
/OrdersView.class
/ProfitView.class
/TakenOrderView.class
/UserOrdersView.class
